.transactionhistory {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  border: 1px solid black;
  border-radius: 8px;
}

.transactionhistory tr {
  background-color: #363636;
  color: #ddd;
}

.transactionhistory td,
.transactionhistory th {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

/* td:first-child {
  font-weight: bold;
} */

/* .transactionhistory tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */
