.title {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.castContainer {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.castName {
  text-decoration: none;
  color: white;
  text-align: center;
}
